In [11]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [12]:
ast = pd.read_csv('../data/asian_ast.csv')
ast

,Unnamed: 0,Country,ISO3,Indicator,Unit,2018,2019,2020,2021,2022
0,0,"Afghanistan, Islamic Rep. of",AFG,Temperature change with respect to a baseline ...,Degree Celsius,1.624,0.991,0.587,1.475,2.154
1,1,"Armenia, Rep. of",ARM,Temperature change with respect to a baseline ...,Degree Celsius,2.739,1.864,1.954,2.183,1.845
2,2,"Azerbaijan, Rep. of",AZE,Temperature change with respect to a baseline ...,Degree Celsius,2.131,1.878,1.889,1.958,2.029
3,3,"Bahrain, Kingdom of",BHR,Temperature change with respect to a baseline ...,Degree Celsius,2.280,2.127,1.989,2.421,1.971
4,4,Bangladesh,BGD,Temperature change with respect to a baseline ...,Degree Celsius,0.911,1.151,0.934,1.326,1.240
5,5,Bhutan,BTN,Temperature change with respect to a baseline ...,Degree Celsius,1.221,1.136,1.035,1.648,1.456
6,6,Brunei Darussalam,BRN,Temperature change with respect to a baseline ...,Degree Celsius,0.903,1.221,1.222,0.972,1.048
7,7,Cambodia,KHM,Temperature change with respect to a baseline ...,Degree Celsius,0.655,1.370,1.275,0.786,0.886
8,8,"China, P.R.: Hong Kong",HKG,Temperature change with respect to a baseline ...,Degree Celsius,1.218,1.783,1.835,1.964,1.369
9,9,"China, P.R.: Macao",MAC,Temperature change with respect to a baseline ...,Degree Celsius,1.218,1.783,1.835,1.964,1.369
10,10,"China, P.R.: Mainland",CHN,Temperature change with respect to a baseline ...,Degree Celsius,1.375,1.411,1.580,1.656,1.855
11,11,Cyprus,CYP,Temperature change with respect to a baseline ...,Degree Celsius,2.104,1.496,1.632,1.948,1.179
12,12,Georgia,GEO,Temperature change with respect to a baseline ...,Degree Celsius,2.514,1.775,2.031,1.757,1.632
13,13,India,IND,Temperature change with respect to a baseline ...,Degree Celsius,0.881,0.813,0.529,0.734,0.784
14,14,Indonesia,IDN,Temperature change with respect to a baseline ...,Degree Celsius,0.846,1.026,1.192,0.992,0.957
15,15,"Iran, Islamic Rep. of",IRN,Temperature change with respect to a baseline ...,Degree Celsius,2.065,1.589,1.335,2.161,2.366
16,16,Iraq,IRQ,Temperature change with respect to a baseline ...,Degree Celsius,2.394,1.619,1.854,2.661,2.169
17,17,Israel,ISR,Temperature change with respect to a baseline ...,Degree Celsius,2.139,1.343,1.612,1.964,1.275
18,18,Japan,JPN,Temperature change with respect to a baseline ...,Degree Celsius,0.908,1.253,1.418,1.253,1.316
19,19,Jordan,JOR,Temperature change with respect to a baseline ...,Degree Celsius,2.115,1.426,1.772,2.081,1.511
20,20,"Kazakhstan, Rep. of",KAZ,Temperature change with respect to a baseline ...,Degree Celsius,0.605,1.447,2.800,1.410,2.665
21,21,"Korea, Dem. People's Rep. of",PRK,Temperature change with respect to a baseline ...,Degree Celsius,0.935,1.889,1.892,1.870,1.581
22,22,"Korea, Rep. of",KOR,Temperature change with respect to a baseline ...,Degree Celsius,0.964,1.521,1.498,1.694,1.546
23,23,Kuwait,KWT,Temperature change with respect to a baseline ...,Degree Celsius,2.304,1.833,1.905,2.605,2.203
24,24,Kyrgyz Rep.,KGZ,Temperature change with respect to a baseline ...,Degree Celsius,1.155,1.597,1.282,1.297,2.491
25,25,Lao People's Dem. Rep.,LAO,Temperature change with respect to a baseline ...,Degree Celsius,0.788,2.014,1.546,1.078,0.903
26,26,Lebanon,LBN,Temperature change with respect to a baseline ...,Degree Celsius,2.235,1.494,1.726,2.157,1.413
27,27,Malaysia,MYS,Temperature change with respect to a baseline ...,Degree Celsius,1.026,1.318,1.281,1.106,1.014
28,28,Maldives,MDV,Temperature change with respect to a baseline ...,Degree Celsius,0.725,0.989,1.000,0.924,0.559
29,29,Mongolia,MNG,Temperature change with respect to a baseline ...,Degree Celsius,2.236,1.871,2.384,2.029,2.236
30,30,Myanmar,MMR,Temperature change with respect to a baseline ...,Degree Celsius,1.087,1.651,1.547,1.553,1.323
31,31,Nepal,NPL,Temperature change with respect to a baseline ...,Degree Celsius,0.630,0.699,0.059,0.428,0.963
32,32,Oman,OMN,Temperature change with respect to a baseline ...,Degree Celsius,1.319,1.089,0.757,1.537,1.226
33,33,Pakistan,PAK,Temperature change with respect to a baseline ...,Degree Celsius,1.572,0.774,0.618,1.344,1.615
34,34,Philippines,PHL,Temperature change with respect to a baseline ...,Degree Celsius,1.242,1.318,1.470,1.334,1.309
35,35,Qatar,QAT,Temperature change with respect to a baseline ...,Degree Celsius,2.027,1.861,1.745,2.175,1.865
36,36,Saudi Arabia,SAU,Temperature change with respect to a baseline ...,Degree Celsius,1.849,1.690,1.474,2.227,1.782
37,37,Singapore,SGP,Temperature change with respect to a baseline ...,Degree Celsius,0.992,1.626,1.407,1.509,1.345
38,38,Sri Lanka,LKA,Temperature change with respect to a baseline ...,Degree Celsius,0.771,1.223,1.265,0.978,0.937
39,39,Syrian Arab Rep.,SYR,Temperature change with respect to a baseline ...,Degree Celsius,2.424,1.610,1.931,2.327,1.635
40,40,Taiwan Province of China,TWN,Temperature change with respect to a baseline ...,Degree Celsius,1.022,1.209,1.620,1.779,1.257
41,41,"Tajikistan, Rep. of",TJK,Temperature change with respect to a baseline ...,Degree Celsius,1.490,1.181,0.850,0.863,1.938
42,42,Thailand,THA,Temperature change with respect to a baseline ...,Degree Celsius,0.813,1.714,1.475,1.012,0.937
43,43,"Timor-Leste, Dem. Rep. of",TLS,Temperature change with respect to a baseline ...,Degree Celsius,0.333,0.443,1.351,0.693,0.601
44,44,"Türkiye, Rep. of",TUR,Temperature change with respect to a baseline ...,Degree Celsius,2.617,1.679,1.877,1.920,1.288
45,45,Turkmenistan,TKM,Temperature change with respect to a baseline ...,Degree Celsius,1.522,1.792,1.503,1.639,2.508
46,46,United Arab Emirates,ARE,Temperature change with respect to a baseline ...,Degree Celsius,1.705,1.413,1.413,1.898,1.677
47,47,"Uzbekistan, Rep. of",UZB,Temperature change with respect to a baseline ...,Degree Celsius,0.959,1.853,1.627,1.446,2.520
48,48,Vietnam,VNM,Temperature change with respect to a baseline ...,Degree Celsius,0.780,1.734,1.418,1.025,0.945
49,49,West Bank and Gaza,PSE,Temperature change with respect to a baseline ...,Degree Celsius,2.143,1.339,1.621,1.972,1.280