In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Đọc metadata thu thập từ website https://climatedata.imf.org/pages/climatechange-data

In [3]:
df_land_cover = pd.read_csv('C:\\Users\\ngmai\\Downloads\\Land_Cover_Accounts (2).csv')
df_land_cover

,ObjectId,Country,ISO2,ISO3,Indicator,Unit,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,...,F2013,F2014,F2015,F2016,F2017,F2018,F2019,F2020,F2021,F2022
0,1,Advanced Economies,NaN,AETMP,Climate Altering Land Cover Index,Index,Food and Agriculture Organization of the Unite...,ECCCA,Climate Altering Land Cover Index,"Environment, Climate Change, Climate and Weath...",...,99.977877,99.995789,100.00,100.013775,100.083020,100.240398,100.356993,100.449569,100.466144,100.533717
1,2,Advanced Economies excluding US,NaN,EAEUSTMP,Climate Altering Land Cover Index,Index,Food and Agriculture Organization of the Unite...,ECCCA,Climate Altering Land Cover Index,"Environment, Climate Change, Climate and Weath...",...,100.069004,100.031639,100.00,99.985052,100.017642,100.013159,100.020579,100.150581,100.143878,100.227310
2,3,Africa,NaN,AFRTMP,Climate Altering Land Cover Index,Index,Food and Agriculture Organization of the Unite...,ECCCA,Climate Altering Land Cover Index,"Environment, Climate Change, Climate and Weath...",...,100.402173,100.197790,100.00,99.896321,99.834069,99.555667,99.552164,99.672090,99.523970,99.606338
3,4,Americas,NaN,AMETMP,Climate Altering Land Cover Index,Index,Food and Agriculture Organization of the Unite...,ECCCA,Climate Altering Land Cover Index,"Environment, Climate Change, Climate and Weath...",...,99.606086,99.778072,100.00,100.276408,100.579215,100.807091,100.933862,100.995592,101.066500,101.022779
4,5,Asia,NaN,ASIATMP,Climate Altering Land Cover Index,Index,Food and Agriculture Organization of the Unite...,ECCCA,Climate Altering Land Cover Index,"Environment, Climate Change, Climate and Weath...",...,100.105208,100.084266,100.00,99.558494,99.187865,98.971561,98.602466,98.451773,98.375207,98.311531
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3028,3029,Zimbabwe,ZW,ZWE,"Shrubs and/or herbaceous vegetation, aquatic o...",1000 HA,Food and Agriculture Organization of the Unite...,ECCCV,Shrubs and/or Herbaceous Vegetation and Aquati...,"Environment, Climate Change, Climate and Weath...",...,28.250000,28.320000,28.32,28.170000,27.940000,27.910000,27.950000,27.990000,28.030000,28.730000
3029,3030,Zimbabwe,ZW,ZWE,Sparsely natural vegetated areas,1000 HA,Food and Agriculture Organization of the Unite...,ECCCN,Sparsely Natural Vegetated Areas,"Environment, Climate Change, Climate and Weath...",...,18.250000,18.230000,18.23,18.280000,18.280000,18.340000,18.310000,18.390000,18.350000,18.640000
3030,3031,Zimbabwe,ZW,ZWE,Terrestrial barren land,1000 HA,Food and Agriculture Organization of the Unite...,ECCCT,Terrestrial Barren Land,"Environment, Climate Change, Climate and Weath...",...,93.200000,92.980000,92.97,91.960000,91.380000,90.630000,90.450000,90.370000,90.430000,90.540000
3031,3032,Zimbabwe,ZW,ZWE,Tree-covered areas,1000 HA,Food and Agriculture Organization of the Unite...,ECCCE,Tree-Covered Areas,"Environment, Climate Change, Climate and Weath...",...,11288.060000,11323.870000,11323.76,11511.850000,11610.040000,11645.810000,11649.910000,11644.690000,11668.610000,11669.660000
3032,3033,Zimbabwe,ZW,ZWE,Woody crops,1000 HA,Food and Agriculture Organization of the Unite...,ECCCR,Woody Crops,"Environment, Climate Change, Climate and Weath...",...,334.080000,333.750000,333.75,331.990000,330.720000,330.520000,330.560000,330.580000,330.270000,330.190000

Lọc lại dữ liệu cần cho phân tích (từ năm 2018 đến năm 2022)

In [5]:
df_land_cover = df_land_cover[['Country', 'ISO3', 'Indicator', 'Unit', 'F2018', 'F2019', 'F2020', 'F2021', 'F2022']]
df_land_cover

,Country,ISO3,Indicator,Unit,F2018,F2019,F2020,F2021,F2022
0,Advanced Economies,AETMP,Climate Altering Land Cover Index,Index,100.240398,100.356993,100.449569,100.466144,100.533717
1,Advanced Economies excluding US,EAEUSTMP,Climate Altering Land Cover Index,Index,100.013159,100.020579,100.150581,100.143878,100.227310
2,Africa,AFRTMP,Climate Altering Land Cover Index,Index,99.555667,99.552164,99.672090,99.523970,99.606338
3,Americas,AMETMP,Climate Altering Land Cover Index,Index,100.807091,100.933862,100.995592,101.066500,101.022779
4,Asia,ASIATMP,Climate Altering Land Cover Index,Index,98.971561,98.602466,98.451773,98.375207,98.311531
...,...,...,...,...,...,...,...,...,...
3028,Zimbabwe,ZWE,"Shrubs and/or herbaceous vegetation, aquatic o...",1000 HA,27.910000,27.950000,27.990000,28.030000,28.730000
3029,Zimbabwe,ZWE,Sparsely natural vegetated areas,1000 HA,18.340000,18.310000,18.390000,18.350000,18.640000
3030,Zimbabwe,ZWE,Terrestrial barren land,1000 HA,90.630000,90.450000,90.370000,90.430000,90.540000
3031,Zimbabwe,ZWE,Tree-covered areas,1000 HA,11645.810000,11649.910000,11644.690000,11668.610000,11669.660000
3032,Zimbabwe,ZWE,Woody crops,1000 HA,330.520000,330.560000,330.580000,330.270000,330.190000

Kết hợp với bộ dữ liệu asian_countries để lọc lại dữ liệu 51 quốc gia Châu Á

In [7]:
asian = pd.read_csv('C:\\Users\\ngmai\\Downloads\\asian_countries (1).csv')

In [8]:
asian

    Unnamed: 0                                 Country ISO3
0            0                             Afghanistan  AFG
1            1                                 Armenia  ARM
2            2                              Azerbaijan  AZE
3            3                                 Bahrain  BHR
4            4                              Bangladesh  BGD
5            5                                  Bhutan  BTN
6            6                       Brunei Darussalam  BRN
7            7                                Cambodia  KHM
8            8                                   China  CHN
9            9                                  Cyprus  CYP
10          10                                 Georgia  GEO
11          11                               Hong Kong  HKG
12          12                                   India  IND
13          13                               Indonesia  IDN
14          14               Iran, Islamic Republic of  IRN
15          15                                    Iraq  IRQ
16          16                                  Israel  ISR
17          17                                   Japan  JPN
18          18                                  Jordan  JOR
19          19                              Kazakhstan  KAZ
20          20  Korea, Democratic People's Republic of  PRK
21          21                      Korea, Republic of  KOR
22          22                                  Kuwait  KWT
23          23                              Kyrgyzstan  KGZ
24          24        Lao People's Democratic Republic  LAO
25          25                                 Lebanon  LBN
26          26                                   Macao  MAC
27          27                                Malaysia  MYS
28          28                                Maldives  MDV
29          29                                Mongolia  MNG
30          30                                 Myanmar  MMR
31          31                                   Nepal  NPL
32          32                                    Oman  OMN
33          33                                Pakistan  PAK
34          34                     Palestine, State of  PSE
35          35                             Philippines  PHL
36          36                                   Qatar  QAT
37          37                            Saudi Arabia  SAU
38          38                               Singapore  SGP
39          39                               Sri Lanka  LKA
40          40                    Syrian Arab Republic  SYR
41          41                                  Taiwan  TWN
42          42                              Tajikistan  TJK
43          43                                Thailand  THA
44          44                             Timor-Leste  TLS
45          45                                 Türkiye  TUR
46          46                            Turkmenistan  TKM
47          47                    United Arab Emirates  ARE
48          48                              Uzbekistan  UZB
49          49                                Viet Nam  VNM

In [10]:
asian_land_cover = pd.merge(df_land_cover, asian, on='ISO3')
asian_land_cover

,Country_x,ISO3,Indicator,Unit,F2018,F2019,F2020,F2021,F2022,Unnamed: 0,Country_y
0,United Arab Emirates,ARE,Climate Altering Land Cover Index,Index,100.329761,105.053281,106.232465,107.010473,109.587494,47,United Arab Emirates
1,United Arab Emirates,ARE,Artificial surfaces (including urban and assoc...,1000 HA,204.420000,211.840000,217.120000,219.210000,227.880000,47,United Arab Emirates
2,United Arab Emirates,ARE,Grassland,1000 HA,39.920000,40.900000,41.570000,41.840000,42.970000,47,United Arab Emirates
3,United Arab Emirates,ARE,Herbaceous crops,1000 HA,124.170000,132.220000,130.800000,131.260000,131.030000,47,United Arab Emirates
4,United Arab Emirates,ARE,Inland water bodies,1000 HA,18.210000,18.210000,18.130000,18.210000,18.210000,47,United Arab Emirates
...,...,...,...,...,...,...,...,...,...,...,...
645,Vietnam,VNM,"Shrubs and/or herbaceous vegetation, aquatic o...",1000 HA,66.890000,66.950000,67.050000,66.960000,66.840000,49,Viet Nam
646,Vietnam,VNM,Sparsely natural vegetated areas,1000 HA,6.120000,6.120000,6.100000,6.120000,6.110000,49,Viet Nam
647,Vietnam,VNM,Terrestrial barren land,1000 HA,18.600000,18.590000,18.620000,18.590000,18.570000,49,Viet Nam
648,Vietnam,VNM,Tree-covered areas,1000 HA,10792.010000,10876.360000,10911.070000,10948.320000,11038.720000,49,Viet Nam
649,Vietnam,VNM,Woody crops,1000 HA,5056.990000,5364.840000,5328.420000,5312.450000,5279.510000,49,Viet Nam

In [11]:
asian_land_cover = asian_land_cover.drop(['Unnamed: 0', 'Country_y'], axis=1)

In [13]:
asian_land_cover = asian_land_cover.rename(columns={"Country_x":"Country", "F2018":"2018", "F2019":"2019", "F2020":"2020", "F2021":"2021", "F2022":"2022"})
asian_land_cover

,Country,ISO3,Indicator,Unit,2018,2019,2020,2021,2022
0,United Arab Emirates,ARE,Climate Altering Land Cover Index,Index,100.329761,105.053281,106.232465,107.010473,109.587494
1,United Arab Emirates,ARE,Artificial surfaces (including urban and assoc...,1000 HA,204.420000,211.840000,217.120000,219.210000,227.880000
2,United Arab Emirates,ARE,Grassland,1000 HA,39.920000,40.900000,41.570000,41.840000,42.970000
3,United Arab Emirates,ARE,Herbaceous crops,1000 HA,124.170000,132.220000,130.800000,131.260000,131.030000
4,United Arab Emirates,ARE,Inland water bodies,1000 HA,18.210000,18.210000,18.130000,18.210000,18.210000
...,...,...,...,...,...,...,...,...,...
645,Vietnam,VNM,"Shrubs and/or herbaceous vegetation, aquatic o...",1000 HA,66.890000,66.950000,67.050000,66.960000,66.840000
646,Vietnam,VNM,Sparsely natural vegetated areas,1000 HA,6.120000,6.120000,6.100000,6.120000,6.110000
647,Vietnam,VNM,Terrestrial barren land,1000 HA,18.600000,18.590000,18.620000,18.590000,18.570000
648,Vietnam,VNM,Tree-covered areas,1000 HA,10792.010000,10876.360000,10911.070000,10948.320000,11038.720000
649,Vietnam,VNM,Woody crops,1000 HA,5056.990000,5364.840000,5328.420000,5312.450000,5279.510000

In [15]:
asian_land_cover.to_csv('C:\\Users\\ngmai\\Downloads\\asian_land_cover.csv')