In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Các bước tiền xử lý dữ liệu từ 5 bộ data thu thập từ [IMF](https://climatedata.imf.org/pages/climatechange-data ) (*Annual Surface Temperature Change*, *Atmospheric CO₂ Concentrations*, *Change in Mean Sea Levels*, *Climate-related Disasters Frequency*, *Forest and Carbon*):
* Lọc dữ liệu các quốc gia Châu Á, thống nhất tên nước.
* Kiểm tra tính đầy đủ của các chỉ số trong từng bộ.
* Lọc lại các dữ liệu cần thiết cho quá trình phân tích về sau.
* Kiểm tra và lọc dữ liệu theo năm.
* Gộp lại thành 1 bộ dữ liệu duy nhất cho mô hình.

## 51 quốc gia châu Á

In [3]:
# Đọc bộ dữ liệu các nước châu Á
asian = pd.read_csv('../data/raw_data/asian_countries.csv')
asian

                 Country ISO3
0            Afghanistan  AFG
1                Armenia  ARM
2             Azerbaijan  AZE
3                Bahrain  BHR
4             Bangladesh  BGD
5                 Bhutan  BTN
6      Brunei Darussalam  BRN
7               Cambodia  KHM
8                  China  CHN
9                 Cyprus  CYP
10               Georgia  GEO
11             Hong Kong  HKG
12                 India  IND
13             Indonesia  IDN
14                  Iran  IRN
15                  Iraq  IRQ
16                Israel  ISR
17                 Japan  JPN
18                Jordan  JOR
19            Kazakhstan  KAZ
20           North Korea  PRK
21           South Korea  KOR
22                Kuwait  KWT
23            Kyrgyzstan  KGZ
24                  Laos  LAO
25               Lebanon  LBN
26                 Macao  MAC
27              Malaysia  MYS
28              Maldives  MDV
29              Mongolia  MNG
30               Myanmar  MMR
31                 Nepal  NPL
32                  Oman  OMN
33              Pakistan  PAK
34    State of Palestine  PSE
35           Philippines  PHL
36                 Qatar  QAT
37          Saudi Arabia  SAU
38             Singapore  SGP
39             Sri Lanka  LKA
40  Syrian Arab Republic  SYR
41                Taiwan  TWN
42            Tajikistan  TJK
43              Thailand  THA
44           Timor-Leste  TLS
45               Türkiye  TUR
46          Turkmenistan  TKM
47  United Arab Emirates  ARE
48            Uzbekistan  UZB
49              Viet Nam  VNM
50                 Yemen  YEM

In [4]:
# Đọc các bộ dữ liệu ClimateChange
ast = pd.read_csv('../data/raw_data/annual_surface_temperature_change.csv') #Annual Surface Temperature Change
fac = pd.read_csv('../data/raw_data/forest_and_carbon.csv') #Forest and Carbon
cdf = pd.read_csv('../data/raw_data/physical_risks_climate_related_disasters_frequency.csv') #Physical Risks: Climate-Related Disasters Frequency

## Annual Surface Temperature Change

In [5]:
asian_ast = pd.merge(ast, asian, on='ISO3')
asian_ast.columns

Index(['ObjectId', 'Country_x', 'ISO2', 'ISO3', 'Indicator', 'Unit', 'Source',
       'CTS Code', 'CTS Name', 'CTS Full Descriptor', '1961', '1962', '1963',
       '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972',
       '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981',
       '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990',
       '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021', '2022', '2023', 'Country_y'],
      dtype='object')

In [6]:
# Giữ lại các thuộc tính có giá trị phân tích
asian_ast['Country_x'] = asian_ast['Country_y']
asian_ast = asian_ast.rename(columns={"Country_x": "Country"})
asian_ast = asian_ast.drop(['ObjectId', 'Country_y', 'ISO2', 'Source',
       'CTS Code', 'CTS Name', 'CTS Full Descriptor'], axis=1, errors='ignore')

In [10]:
asian_ast

,Country,ISO3,Indicator,Unit,1961,1962,1963,1964,1965,1966,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Afghanistan,AFG,Temperature change with respect to a baseline ...,Degree Celsius,-0.126,-0.173,0.844,-0.751,-0.220,0.239,...,0.521,1.204,1.612,1.642,1.624,0.991,0.587,1.475,2.154,1.956
1,Armenia,ARM,Temperature change with respect to a baseline ...,Degree Celsius,NaN,NaN,NaN,NaN,NaN,NaN,...,1.236,1.896,1.331,0.883,2.739,1.864,1.954,2.183,1.845,2.258
2,Azerbaijan,AZE,Temperature change with respect to a baseline ...,Degree Celsius,NaN,NaN,NaN,NaN,NaN,NaN,...,1.153,1.594,1.356,1.199,2.131,1.878,1.889,1.958,2.029,2.160
3,Bahrain,BHR,Temperature change with respect to a baseline ...,Degree Celsius,-0.481,0.392,0.633,-0.560,0.237,0.539,...,1.721,2.243,1.655,2.118,2.280,2.127,1.989,2.421,1.971,2.261
4,Bangladesh,BGD,Temperature change with respect to a baseline ...,Degree Celsius,0.128,-0.296,-0.115,0.083,-0.215,0.312,...,0.611,0.799,1.336,1.142,0.911,1.151,0.934,1.326,1.240,1.639
5,Bhutan,BTN,Temperature change with respect to a baseline ...,Degree Celsius,0.203,-0.300,-0.230,0.050,-0.583,0.135,...,0.765,0.905,1.338,1.325,1.221,1.136,1.035,1.648,1.456,1.751
6,Brunei Darussalam,BRN,Temperature change with respect to a baseline ...,Degree Celsius,0.029,-0.033,-0.147,0.083,-0.239,0.191,...,0.712,0.932,1.383,0.942,0.903,1.221,1.222,0.972,1.048,1.145
7,Cambodia,KHM,Temperature change with respect to a baseline ...,Degree Celsius,-0.038,-0.137,-0.293,0.180,-0.190,0.441,...,0.549,1.039,1.331,0.994,0.655,1.370,1.275,0.786,0.886,1.256
8,Hong Kong,HKG,Temperature change with respect to a baseline ...,Degree Celsius,0.052,-0.063,0.319,0.108,0.144,0.646,...,0.803,1.258,0.845,1.404,1.218,1.783,1.835,1.964,1.369,1.419
9,Macao,MAC,Temperature change with respect to a baseline ...,Degree Celsius,0.052,-0.063,0.319,0.108,0.144,0.646,...,0.803,1.258,0.845,1.404,1.218,1.783,1.835,1.964,1.369,1.419
10,China,CHN,Temperature change with respect to a baseline ...,Degree Celsius,0.256,-0.147,0.288,-0.023,0.081,0.186,...,1.062,1.302,1.333,1.588,1.375,1.411,1.580,1.656,1.855,1.843
11,Cyprus,CYP,Temperature change with respect to a baseline ...,Degree Celsius,0.024,0.754,0.704,-0.606,-0.206,0.629,...,1.006,1.128,1.504,0.783,2.104,1.496,1.632,1.948,1.179,1.866
12,Georgia,GEO,Temperature change with respect to a baseline ...,Degree Celsius,NaN,NaN,NaN,NaN,NaN,NaN,...,1.257,1.762,1.359,0.826,2.514,1.775,2.031,1.757,1.632,2.107
13,India,IND,Temperature change with respect to a baseline ...,Degree Celsius,-0.214,-0.526,-0.062,0.002,-0.053,0.308,...,0.536,0.705,1.077,0.962,0.881,0.813,0.529,0.734,0.784,0.894
14,Indonesia,IDN,Temperature change with respect to a baseline ...,Degree Celsius,-0.069,0.013,-0.085,0.015,-0.188,0.040,...,0.759,0.755,1.386,0.932,0.846,1.026,1.192,0.992,0.957,1.084
15,Iran,IRN,Temperature change with respect to a baseline ...,Degree Celsius,-0.073,0.253,0.709,-0.702,-0.289,0.755,...,1.094,1.880,1.685,1.758,2.065,1.589,1.335,2.161,2.366,2.238
16,Iraq,IRQ,Temperature change with respect to a baseline ...,Degree Celsius,-0.190,0.887,0.442,-0.799,-0.122,0.979,...,1.162,1.918,1.653,1.558,2.394,1.619,1.854,2.661,2.169,2.064
17,Israel,ISR,Temperature change with respect to a baseline ...,Degree Celsius,-0.134,0.837,0.833,-0.633,-0.042,0.601,...,0.951,1.427,1.731,0.878,2.139,1.343,1.612,1.964,1.275,2.080
18,Japan,JPN,Temperature change with respect to a baseline ...,Degree Celsius,0.670,0.126,-0.054,0.260,-0.527,0.014,...,0.543,0.817,1.307,0.781,0.908,1.253,1.418,1.253,1.316,1.847
19,Jordan,JOR,Temperature change with respect to a baseline ...,Degree Celsius,-0.192,0.999,0.792,-0.651,-0.009,0.738,...,0.908,1.558,1.782,1.077,2.115,1.426,1.772,2.081,1.511,2.007
20,Kazakhstan,KAZ,Temperature change with respect to a baseline ...,Degree Celsius,NaN,NaN,NaN,NaN,NaN,NaN,...,0.648,1.573,2.201,1.724,0.605,1.447,2.800,1.410,2.665,2.583
21,North Korea,PRK,Temperature change with respect to a baseline ...,Degree Celsius,0.497,-0.054,-0.105,0.239,-0.207,-0.063,...,1.575,1.280,1.495,1.671,0.935,1.889,1.892,1.870,1.581,2.034
22,South Korea,KOR,Temperature change with respect to a baseline ...,Degree Celsius,0.635,-0.095,-0.471,0.611,-0.178,0.099,...,1.024,0.973,1.652,1.462,0.964,1.521,1.498,1.694,1.546,1.648
23,Kuwait,KWT,Temperature change with respect to a baseline ...,Degree Celsius,-0.292,0.783,0.458,-0.786,0.057,0.807,...,1.433,2.078,1.663,1.917,2.304,1.833,1.905,2.605,2.203,1.995
24,Kyrgyzstan,KGZ,Temperature change with respect to a baseline ...,Degree Celsius,NaN,NaN,NaN,NaN,NaN,NaN,...,0.460,1.413,1.808,1.375,1.155,1.597,1.282,1.297,2.491,1.962
25,Laos,LAO,Temperature change with respect to a baseline ...,Degree Celsius,0.064,-0.249,-0.413,-0.085,-0.192,0.445,...,0.688,1.284,1.306,1.087,0.788,2.014,1.546,1.078,0.903,1.488
26,Lebanon,LBN,Temperature change with respect to a baseline ...,Degree Celsius,-0.035,0.819,0.763,-0.713,-0.090,0.676,...,1.050,1.425,1.716,1.125,2.235,1.494,1.726,2.157,1.413,2.073
27,Malaysia,MYS,Temperature change with respect to a baseline ...,Degree Celsius,-0.072,-0.106,-0.115,0.034,-0.220,0.143,...,0.891,1.046,1.484,1.022,1.026,1.318,1.281,1.106,1.014,1.135
28,Maldives,MDV,Temperature change with respect to a baseline ...,Degree Celsius,NaN,-0.073,NaN,NaN,NaN,0.405,...,0.767,0.895,0.930,0.786,0.725,0.989,1.000,0.924,0.559,0.842
29,Mongolia,MNG,Temperature change with respect to a baseline ...,Degree Celsius,0.133,-0.132,1.187,-0.184,0.847,0.375,...,1.910,2.161,1.425,2.534,2.236,1.871,2.384,2.029,2.236,2.215
30,Myanmar,MMR,Temperature change with respect to a baseline ...,Degree Celsius,-0.035,-0.127,-0.178,0.031,-0.317,0.377,...,0.835,1.160,1.440,1.343,1.087,1.651,1.547,1.553,1.323,1.723
31,Nepal,NPL,Temperature change with respect to a baseline ...,Degree Celsius,0.129,-0.459,-0.212,0.154,-0.369,0.290,...,0.401,0.673,1.195,1.129,0.630,0.699,0.059,0.428,0.963,1.256
32,Oman,OMN,Temperature change with respect to a baseline ...,Degree Celsius,-0.114,0.589,0.236,-0.643,-0.509,0.120,...,0.630,1.351,1.097,1.582,1.319,1.089,0.757,1.537,1.226,1.377
33,Pakistan,PAK,Temperature change with respect to a baseline ...,Degree Celsius,-0.280,-0.262,0.402,-0.374,-0.307,-0.161,...,0.570,0.735,1.371,1.470,1.572,0.774,0.618,1.344,1.615,1.356
34,Philippines,PHL,Temperature change with respect to a baseline ...,Degree Celsius,-0.121,-0.092,-0.323,-0.005,-0.269,0.193,...,0.905,1.105,1.563,1.208,1.242,1.318,1.470,1.334,1.309,1.508
35,Qatar,QAT,Temperature change with respect to a baseline ...,Degree Celsius,-0.550,0.512,0.443,-0.404,0.382,0.442,...,1.553,1.969,1.539,1.915,2.027,1.861,1.745,2.175,1.865,2.074
36,Saudi Arabia,SAU,Temperature change with respect to a baseline ...,Degree Celsius,-0.191,0.651,0.455,-0.495,0.142,0.639,...,1.247,1.879,1.554,1.766,1.849,1.690,1.474,2.227,1.782,1.839
37,Singapore,SGP,Temperature change with respect to a baseline ...,Degree Celsius,NaN,NaN,NaN,NaN,NaN,NaN,...,1.328,1.596,1.782,1.158,0.992,1.626,1.407,1.509,1.345,1.794
38,Sri Lanka,LKA,Temperature change with respect to a baseline ...,Degree Celsius,-0.156,-0.121,-0.054,0.064,-0.145,0.211,...,0.948,0.954,1.319,1.047,0.771,1.223,1.265,0.978,0.937,1.101
39,Syrian Arab Republic,SYR,Temperature change with respect to a baseline ...,Degree Celsius,-0.041,0.983,0.545,-0.709,-0.186,0.921,...,1.199,1.326,1.818,1.178,2.424,1.610,1.931,2.327,1.635,2.092
40,Taiwan,TWN,Temperature change with respect to a baseline ...,Degree Celsius,0.150,-0.165,-0.216,0.251,-0.143,0.296,...,0.673,0.661,0.939,1.275,1.022,1.209,1.620,1.779,1.257,1.318
41,Tajikistan,TJK,Temperature change with respect to a baseline ...,Degree Celsius,NaN,NaN,NaN,NaN,NaN,NaN,...,0.364,1.146,1.517,1.166,1.490,1.181,0.850,0.863,1.938,1.712
42,Thailand,THA,Temperature change with respect to a baseline ...,Degree Celsius,-0.165,-0.158,-0.328,-0.038,-0.238,0.399,...,0.692,1.202,1.462,1.044,0.813,1.714,1.475,1.012,0.937,1.447
43,Timor-Leste,TLS,Temperature change with respect to a baseline ...,Degree Celsius,-0.360,-0.029,-0.642,-0.179,NaN,0.086,...,0.465,0.525,1.413,0.742,0.333,0.443,1.351,0.693,0.601,0.215
44,Türkiye,TUR,Temperature change with respect to a baseline ...,Degree Celsius,0.178,1.033,0.486,-0.719,-0.340,1.424,...,1.315,0.783,1.572,0.758,2.617,1.679,1.877,1.920,1.288,2.061
45,Turkmenistan,TKM,Temperature change with respect to a baseline ...,Degree Celsius,NaN,NaN,NaN,NaN,NaN,NaN,...,0.728,1.417,1.989,1.671,1.522,1.792,1.503,1.639,2.508,2.384
46,United Arab Emirates,ARE,Temperature change with respect to a baseline ...,Degree Celsius,-0.177,0.600,0.318,-0.340,0.148,0.260,...,1.041,1.700,1.248,1.841,1.705,1.413,1.413,1.898,1.677,1.759
47,Uzbekistan,UZB,Temperature change with respect to a baseline ...,Degree Celsius,NaN,NaN,NaN,NaN,NaN,NaN,...,0.130,1.344,2.221,1.713,0.959,1.853,1.627,1.446,2.520,2.333
48,Viet Nam,VNM,Temperature change with respect to a baseline ...,Degree Celsius,0.024,-0.232,-0.299,0.066,-0.003,0.484,...,0.551,1.180,1.139,1.103,0.780,1.734,1.418,1.025,0.945,1.333
49,State of Palestine,PSE,Temperature change with respect to a baseline ...,Degree Celsius,-0.134,0.839,0.841,-0.636,-0.041,0.597,...,0.942,1.423,1.740,0.881,2.143,1.339,1.621,1.972,1.280,2.093
50,Yemen,YEM,Temperature change with respect to a baseline ...,Degree Celsius,0.061,0.020,0.200,-0.215,-0.586,0.122,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Kiểm tra dữu liệu bị khuyết

asian_ast.isnull().sum()

Country       0
ISO3          0
Indicator     0
Unit          0
1961         10
             ..
2019          1
2020          1
2021          1
2022          1
2023          1
Length: 67, dtype: int64

## Atmospheric CO₂ Concentrations

## Change in Mean Sea Levels

## Climate-related Disasters Frequency

## Forest and Carbon